<md-list>
  <md-list-item>
    <md-icon md-list-icon>description</md-icon>
    <h2>A propos</h2>
  </md-list-item>
</md-list>

<md-card>
  <md-card-content>
    <p>NOS produit sont:</p>
      <ul>
        <li>Portes ( battant, cintré...)</li>
        <li>Fenêtres (coulissant, battant, auscilot battant, cintré...)</li>
        <li>Portes fenêtres (coulissant, battant, cintré...)</li>
        <li>Volets roulants( électrique et manuel)</li>
        <li>Vitrines</li>
      </ul>
  </md-card-content>
</md-card>


