<md-list>
  <md-list-item>
    <md-icon md-list-icon>contacts</md-icon>
    <h2>Contact</h2>
  </md-list-item>
</md-list>

<md-card>
  <md-card-content>
    <p>Pour nous contacter:</p>
    <ul>
      <li><md-icon fontSet="fontawesome" fontIcon="fa-envelope-o"></md-icon> Email: hamdi.artalum@gmail.com</li>
      <li><md-icon fontSet="fontawesome" fontIcon="fa-internet-explorer"></md-icon> Site Web: http://www.art-alum.com</li>
      <li><md-icon fontSet="fontawesome" fontIcon="fa-instagram"></md-icon> Instagram: art.alum</li>
      <li><md-icon fontSet="fontawesome" fontIcon="fa-mobile"></md-icon> Tel: (+216) 56 130 115</li>

      <li><md-icon fontSet="fontawesome" fontIcon="fa-facebook-official"></md-icon>
        Facebook: https://www.facebook.com/pg/Art-Alum-291817644584749/</li>
    </ul>
  </md-card-content>
</md-card>




