<md-list>
  <md-list-item>
    <md-icon md-list-icon>contacts</md-icon>
    <h2>Contact</h2>
  </md-list-item>
</md-list>

<div fxLayout='row' fxLayout.lt-md='column'>

  <div fxFlex="50">
    <md-card style="height: 450px;">
      <md-card-title>Nous trouver:</md-card-title>
      <md-card-content>
        <app-map></app-map>
      </md-card-content>
    </md-card>
  </div>

  <div fxFlex="50">

    <md-card style="height: 450px;">
      <md-card-title>Pour nous contacter:</md-card-title>
      <md-card-content>
        <md-list>

          <md-list-item>
            <md-icon md-list-icon>location_on</md-icon>
            <span>Adresse: {{contact?.address1}}</span>
          </md-list-item>

          <md-list-item>
            <md-icon md-list-icon>phone</md-icon>
            <span>Tel: {{contact?.tel1}} </span>
          </md-list-item>

          <md-list-item>
            <md-icon md-list-icon>email</md-icon>
            <span>{{contact?.email}}</span>
          </md-list-item>

          <md-list-item>
            <md-icon md-list-icon fontSet="fontawesome" fontIcon="fa-facebook-official"></md-icon>
            <span><a [href]="contact?.facebook" target="_blank">{{contact?.facebook}}</a></span>
          </md-list-item>

          <md-list-item>
            <md-icon md-list-icon fontSet="fontawesome" fontIcon="fa-internet-explorer"></md-icon>
            <span><a [href]="contact?.website" target="_blank">{{contact?.website}}</a></span>
          </md-list-item>

          <md-list-item>
            <md-icon md-list-icon fontSet="fontawesome" fontIcon="fa-instagram"></md-icon>
            <span>Instagram: {{contact?.instagram}} </span>
          </md-list-item>

        </md-list>

      </md-card-content>
    </md-card>

  </div>


</div>


<div fxLayout='row' fxLayout.lt-md='column'>
  <div fxFlex="50">
    <md-card>
      <md-card-title>Nous écrire:</md-card-title>
      <md-card-content>

        <div fxLayout='column'>

          <div fxFlex>
            <md-input-container style="width: 100%;">
              <input mdInput placeholder="Email" required type="email">
            </md-input-container>
          </div>

          <div fxFlex>
            <md-input-container style="width: 100%;">
              <input mdInput placeholder="Nom" required>
            </md-input-container>
          </div>

          <div fxFlex>
            <md-input-container style="width: 100%;">
              <textarea rows="4" cols="50" mdInput placeholder="Message" required></textarea>
            </md-input-container>
          </div>

          <div fxFlex>
            <button md-raised-button (click)="sendMesssage()"><md-icon md-list-icon>send</md-icon> Send</button>
          </div>

        </div>

      </md-card-content>
    </md-card>
  </div>
</div>







