<md-list>
  <md-list-item>
    <md-icon md-list-icon>photo_library</md-icon>
    <h2>Catalogue</h2>
  </md-list-item>
</md-list>

<md-card>
  <md-card-content>
    <p>Notre catalogue:</p>
    <p>Bientôt disponible</p>
  </md-card-content>
</md-card>

<div fxLayout='row' fxLayout.lt-md='column'>
  <div fxFlex="25">
    <md-card>
      <img md-card-image src="https://raw.githubusercontent.com/beligh-hamdi/art-alum/master/photos/flayer1.png">
    </md-card>
  </div>

  <div fxFlex="25">
    <md-card>
      <img md-card-image src="https://raw.githubusercontent.com/beligh-hamdi/art-alum/master/photos/flayer2.png">
    </md-card>
  </div>
</div>
