
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" >

  <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [label]="'Art-Alum Bizerte'">
    <sebm-google-map-info-window [disableAutoPan]="true">
      <p>Bizerte</p>
      <p>Bizerte</p>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
  <sebm-google-map-marker [latitude]="lat1" [longitude]="lng1" [label]="'Art-Alum Ariana'">
    <sebm-google-map-info-window [disableAutoPan]="true">
      <p>Ariana</p>
      <p>Ariana</p>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>

