/*
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
*/
/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/

html, body, md-sidenav-container {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

md-card {
  margin: 10px;
  max-width: 600px
}

body {
  /*padding-top: 60px; */
}
