/* You can add global styles to this file, and also import other style files */
/*
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
 */



html, body, material-app, md-sidenav-container {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

md-sidenav {
  width: 200px;
}

.mat-sidenav{
  background: #d7d8d6;
}

.mat-toolbar.mat-primary {
  background: #e82729;
}

.page-content {
  padding: 10px;
}

.app-fill-remaining-space {
  flex: 1 1 auto;
}

md-card {
  margin: 10px;
  max-width: 600px
}
