<md-list>
  <md-list-item>
    <md-icon md-list-icon>home</md-icon>
    <h2>Accueil</h2>
  </md-list-item>
</md-list>


<div fxLayout='row' fxLayout.lt-md='column'>
  <div fxFlex="50">
    <md-card>
      <img md-card-image src="assets/img/logo.png">
      <md-card-content>
        <h3>
          Bientôt disponible avec plus d'informations
        </h3>
        <p>
          Merci de patienter (Le site est en cours de construction)
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>






