
.flayer1-header-image {
  background-image: url('https://raw.githubusercontent.com/beligh-hamdi/art-alum/master/photos/flayer1.png');
  background-size: cover;
}

.flayer2-header-image {
  background-image: url('https://raw.githubusercontent.com/beligh-hamdi/art-alum/master/photos/flayer2.png');
  background-size: cover;
}
